body {
  background-color: #333;
}

a {
	text-decoration: none;
	color: white;
  display: inline-block;
  padding: 20px;
  border: 1px solid black;
  border-radius: 2px;
  border-color: white;
  
}

/* style for forms */

*:focus {
  outline: none;
}

input {
	display: block;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.5);
}
